@model ASP_Client.Models.MovieOverviewViewModel

@{ 
    ViewBag.Title = "Index"; 
} 
 
<h2>Index</h2> 
 
<p> 
     @using (Html.BeginForm()){    
         <p> @Html.TextBox("SearchString") <br />   
         <input type="submit" value="Search" /></p> 
     }
    
<table>
    <tr><th>Title:</th><th>Year:</th></tr>
    @foreach (var movie in Model.FoundMovies)
    {
        <tr>
            <td>
                @Html.ActionLink(movie.Title, "SearchMovieDetails", new { movie.Id })
            </td>
            <td>
                @movie.Year
            </td>
        </tr>
    }
</table>
</p>