@model ASP_Client.Models.PersonOverviewViewModel

@{ 
    ViewBag.Title = "SearchPerson"; 
} 
 
<h2>Search Results</h2> 
 


@if (Model.ErrorMsg.IsEmpty())
{   
      
    <table>
        <tr><th>Name</th></tr>
        @foreach (var person in Model.FoundPeople)
        {
            <tr>
                <td>
                @Html.ActionLink(person.Name, "PersonDetails", "Person", new {person.Id}, null)
                </td>
            </tr>
        }
    </table>
     }
else
{
  @Model.ErrorMsg
}
